{{#section 'sidebarmenus'}}
    <ul id="sub-menu" class="sm pixelstrap sm-vertical">
        <li v-for="(category,key) in categories"> 
            <a href="#" v-html="category.categoryName"></a>
            <ul v-show="!$isEmpty(category.children)">
                <li v-for="(child_category,child_category_key) in category.children" :key="child_category_key">
                    <a href="/products?category={{toBase64 child_category.categoryPath}}" v-html="child_category.categoryName"></a>
                            <ul v-show="!$isEmpty(child_category.children)">
                                <li v-for="(value,value_key) in child_category.children" :key="value_key">
                                    <a href="/products?category={{toBase64 value.categoryPath}}" v-html="value.categoryName"></a>
                                </li>
                            </ul>
                    </template>
                </li>
            </ul>
        </li>                                      
    </ul>
{{/section}}
{{#section 'body'}}
    <!--section start-->
    <section id="app" class="register-page section-b-space">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3>create account</h3>
                    <div class="theme-card">
                        <form class="theme-form">
                            <div class="form-row row">
                                <div class="col-md-6">
                                    <label for="email">First Name</label>
                                    <input type="text" class="form-control" id="fname" placeholder="First Name" required="">
                                </div>
                                <div class="col-md-6">
                                    <label for="review">Last Name</label>
                                    <input type="password" class="form-control" id="lname" placeholder="Last Name" required="">
                                </div>
                            </div>
                            <div class="form-row row">
                                <div class="col-md-6">
                                    <label for="email">email</label>
                                    <input type="text" class="form-control" id="email" placeholder="Email" required="">
                                </div>
                                <div class="col-md-6">
                                    <label for="review">Password</label>
                                    <input type="password" class="form-control" id="review" placeholder="Enter your password" required="">
                                </div>
                                <a href="#" class="btn btn-solid w-auto">create Account</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Section ends-->
{{/section}}

{{#section 'scripts'}}
<script type="text/javascript">
    const { Vue: { createApp, ref }, axios } = window;
    createApp({
        created(){
            this.$isEmpty = _.isEmpty;
        },
        data() {
            return {
                form:{
                    email:    String(),
                    password: String()
                },
                loading: false
            }
        },
        methods: {
            async signup() {
                  window.axios   
                        .post(`${origin}/login/auth`,{...form,_csrf:csrf})
                        .then( ({ data: { categories } }) => {
                            this.categories = categories;
                        })
                        .catch( (err) => {
                            console.log(err);
                        })
                        .finally( () => {
                            this.loading = false;            
                        })            
            }
        }
    }).mount("#app")  
</script>
{{/section}}