<!DOCTYPE html>
<html lang="en">
{{> head}}
<body class="theme-color-1">
    
    {{> loader}}
    
    {{> header}}

    <div id="app">
        {{{_sections.body}}}
    </div>
    
    {{> footer}}
</body>
</html>