doctype transitional
head
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width,initial-scale=1')
  link(rel='icon' href='images/favicon.png' type='image/x-icon')
  link(rel='shortcut icon' href='images/favicon.png' type='image/x-icon')
  link(href='https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap' rel='stylesheet' type='text/css')
div(style='background-color: #ededed; min-width:100%; min-height: 100%; display: flex; align-items: center;') 
  div(style="width:50%;justify-content: center;")
    table(border='0' cellpadding='0' cellspacing='0' align='left' style='border-collapse: collapse; background: #fff;')                
      tbody(style='font-family: Montserrat, sans-serif !important; font-size: 12px;')      
          tr(style="background-color: #ededed;")
            td(style='border-collapse: collapse; width:100%;')
              div(style='display: flex; align-items: center; justify-content: center; margin: 10px; width:100%;')
                img(src=company_logo width='100%')
          tr
            td(style='border-collapse: collapse; width:100%;')
              table(style='width:100%; margin-bottom: 10px;')
                tbody(style='font-family: Montserrat, sans-serif !important;')  
                    td(style='border-collapse: collapse; width:100%;')                          
                      p(style="margin: 0px;")     
                        span 
                          | Hi,        
                        span=customer_name                                                                                                                                                          
